/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main stiles */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Monserrat';
    max-width: 100%;
    max-height: 100%;
}
.mainSection {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 40em;
    margin: 40px auto;
    background-color: #eeeeee;
}
.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 90%;
    border-radius: 15px;
    margin-bottom: 10px;
}

.article-title {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 600;
}

.username {
    margin-bottom: 20px;
}

.inputUsername {
    width: 50%;
}

.button {
    margin-top: 20px;
    background-color: black;
    color:white;
    width: 50%;
    border: none;
    border-radius: 15px;
    height: 25px;
    margin-bottom: 20px;
}
.aside {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: white;
    height: 90%;
    border-radius: 15px;
}
.aside-title {
    font-size: 1.2em;
    font-weight: 600;
    margin: 10px;
}
.aside-scores--users {
    margin: 10px;
    font-weight: 600;
}
.aside-scores--scores {
    margin: 10px;
}
.aside-scores-noOne {
    margin: 10px;
}
.aside-scores--noOne_hidde{
    display: none;
}

/* Step 2 rules */
.button-start {
    width: 50%;
    color: aliceblue;
    background-color: black;
    border: none;
    border-radius: 15px;
    height: 25px;
}
.step2 {
    text-align: center;
    width: 100%;
}

/* Media queries rules */
@media screen and (min-width: 700px){
    .mainSection {
        flex-direction: row;
        align-items: center;
        height: 20em
    }
    .article {
        width: 55%;
        margin-right: 5%;
        margin-left: 5%;
        box-shadow: 2px 6px rgb(206, 204, 204);
    }
    .aside {
        width: 25%;
        margin-left: 5%;
        margin-right: 5%;
        box-shadow: 2px 6px rgb(206, 204, 204);
    }
}

@media screen and (min-width: 1000px) {
    .mainSection {
        max-width: 900px;
    }
}
